body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	--main-darkGreen: #015b3f;
	--main-green: #01b47c;
	--main-backgroundGray: #ededed;
	background-color: var(--main-backgroundGray);
}

ul{
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
}

button{
	background: none;
}

input{
	border: none;
}

.app__container{
	width: 100vw;
	max-width: 100vw;
	height: 100vh;
	max-height: 100vh;
	overflow: hidden;
	position: relative;
}

.app__page{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	min-height: 100vh;
	position: relative;
	width: 100vw;
	max-width: 100vw;
	height: 100vh;

	overflow-x: hidden;

	background-color: var(--main-backgroundGray);
}

.app__page--timetableSelection{
	transition-duration: 2s;
	transform: translateX(-20%);
}

.app__page--timetableEditor{
	position: absolute;
	left: 0;
	top: 0;
	transform: translateX(0%);
	transition-duration: 2s;
	z-index: 10;
}

.timebrickEditor{
	position: absolute;
	left: 0;
	top: 0;
	transform: translateX(100%);
	transition-duration: 2s;
	z-index: 500;
	height: 100vh;
	width: 100vw;
	background-color: var(--main-backgroundGray);
}

.alert{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	height: 100vh;
	width: 100%;
	padding: 0 50px 0 50px;
	position: fixed;
	z-index: 1000;
	display: flex;
	text-align: center;
}

.alert--hidden{
	visibility: hidden;
	pointer-events: none;
}

.alert__background{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
	opacity: 0.5;
}

.alert__content{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	max-width: 500px;
	height: 400px;
	padding: 15px;
	margin: auto;
	display: block;
	background-color: white;
	position: relative;
	z-index: 10;
}

.timebrickEditor{
	max-width: 100vh;
	overflow-x: hidden;
}

.title{
	font-family: 'Nunito', sans-serif;
	margin: 0;
	text-align: center;
	padding: 15px 0 15px 0;
	font-size: 30px;
	position: absolute;
	width: 100%;
	z-index: 20;
}

.title--white{
	color: white;
}

.title--timetableSelection{
	background-color: var(--main-darkGreen);
}

.title--timetableEditor{
	background-color: var(--main-green);
	border-bottom-style: solid;
	border-color: var(--main-darkGreen);
	border-bottom-width: 1px;
}

.title--timebrickEditor{
	border-bottom-style: solid;
	border-color: gray;
	border-bottom-width: 1px;
	background-color: var(--main-backgroundGray);
	z-index: 300;
}

.buttonAdd{
	font-family: 'Nunito', sans-serif;
	font-size: 80px;
	font-weight: bolder;
	padding: 0 0 5px 1px;
	border: none;
	height: 80px;
	width: 80px;
	position: fixed;
	bottom: 20px;
	left: 20px;
	border-radius: 40px 40px 40px 40px;
	-moz-border-radius: 40px 40px 40px 40px;
	-webkit-border-radius: 40px 40px 40px 40px;
	color: white;
	line-height: 0em;
	-webkit-box-shadow: 4px 4px 11px 0px rgba(0,0,0,0.37);
	-moz-box-shadow: 4px 4px 11px 0px rgba(0,0,0,0.37);
	box-shadow: 4px 4px 11px 0px rgba(0,0,0,0.37);
}

.buttonAdd--createNewTimetable{
	background-color: var(--main-darkGreen);
}

.buttonAdd--setTimebrick{
	background-color: var(--main-green);
}

.timetable__li{
	width: 100%;
	height: 100vh;
	max-height: 100vh;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	padding: 100px 30px 30px 30px;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	justify-content: center;
	overflow-y: scroll;
}

.timetable__el{
	position: relative;
	width: 100%;
	max-width: 320px;
	/*
	height: 250px;
	*/
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	background-color: white;
	margin-bottom: 30px;
	overflow: hidden;
	display: flex;
}

.timetable__dateEmplacement{
	background-color: var(--main-green);
	height: 100%;
	width: 60px;
	min-width: 60px;
	pointer-events: none;
	/*
	display: flex;
	align-items: center;
	*/
}

.timetable__date{
	color: white;
	text-align: center;
	max-width: 100%;
	margin: 0;
}

.timetable__date__day{
	font-size: 36px;
	font-weight: bold;
}

.timetable__date__month{
	font-size: 20px;
	font-weight: bold;
}

.timetable__condensation{
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	padding: 10px;
	pointer-events: none;
}

.timetable__duration{
	font-size: 20px;
	font-weight: bold;
	color: #494949;
}

.timetable__detail{
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	color: #707070;
	font-size: 18px;
}

.timetable__summary{
	color: #707070;
}

.buttonRemove{
	position: absolute;
	top: 10px;
	right: 10px;
}

.timetable{
	width: 100%;
	min-width: 100%;
	height: 100vh;
	padding: 100px 30px 30px 30px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}

.timebrick{
	position: relative;
	margin-bottom: 15px;
	height: 200px;
}

.timebrick__interface{
	position: relative;
	background-color: white;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	padding: 10px;
	height: 100%;
}

.timebrick__interface--moving{
	background-color: gray;
	pointer-events: none;
	z-index: 50;
}

.timebrick__duration{
	font-weight: bold;
	font-size: 24px;
	color: #717171;
	pointer-events: none;
}

.timebrick__name{
	font-size: 18px;
	color: #989898;
	pointer-events: none;
}

.buttonNavigation{
	position: absolute;
	top: 10px;
	z-index: 500;
	height: 50px;
	width: 50px;
	border: none;
}

.buttonNavigation svg{
	height: 100%;
	width: 100%;
}

.buttonNavigation--backTo{
	left: 10px;
}

.buttonNavigation--revealForm{
	right: 10px;
	transition-duration: 1s;
}

.buttonRevealForm svg{
	height: 100%;
	width: 100%;
	fill: #FFF;
}

.timetable__setter{
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;  
	padding: 0px 30px 0 30px;
	width: 100%;
	min-height: 100vh;
	background-color: var(--main-green);
	position: absolute;
	top: 0px;
	z-index: 15;
	transition-duration: 1s;
}

.timetable__setter--hidden{
	transform: translateY(-100%);
}

.timetable__form{ 
	margin: auto;
	max-width: 400px;
	padding-top: 120px;
}

.timetable__form label{
	font-weight: bold;
	font-size: 24px;
	color: white;
}

.timetable__parameter{
	margin: auto;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

.timetable__parameter--duration--min{
	margin-right: 30px;
}

.timetable__parameterContainer{
	display: flex;
	justify-content: space-between;
}

.timetable__parameterContainer--age{
	flex-wrap: wrap;
}

.timebrick__setter{
	min-width: 100vw;
	width: 100%;
	position: relative;
}

.timebrick__formContainer{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	padding-top: 100px;
	transition-duration: 2s;
	transform: translateX(0px);
	background-color: var(--main-backgroundGray);;
	z-index: 50;
	overflow-y: scroll;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;
	/*
	-webkit-box-shadow: inset 0px 0px 93px 200px rgba(0,0,0,0.48);
	-moz-box-shadow: inset 0px 0px 93px 200px rgba(0,0,0,0.48);
	box-shadow: inset 0px 0px 93px 200px rgba(0,0,0,0.48);
	*/

}

.timebrick__formContainer--current{
	transition-duration: 0s;
	transition-delay: 0.1s;

}

.timebrick__formContainer--revealing{
	transition-delay: 0s;
	transition-duration: 2s;
	background-color: red;
}

.timebrick__formContainer--moving{
	transition-duration: 0;
	z-index: 100;
}

.timebrick__formContainer--swipeLeft{
	transform: translateX(-100%);
}

.timebrick__formContainer--swipeRight{
	transform: translateX(100%);
}

.timebrick__formContainer--current .timebrick__formContainer__overlay{
	transition-duration: 3s;
	opacity: 0;
}

.timebrick__formContainer__overlay{
	min-height: 100vh;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.8;
	transition-duration: 3s;
	z-index: 75;
	background-color: gray;
}

.timebrick__form{
	margin: auto;
	max-width: 400px;
	padding: 30px;
}


.timebrick__form--02{
}

.timebrick__form label{
	font-weight: bold;
	font-size: 24px;
}

.timebrick__parameter{
	margin: auto;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

.disclaimer{
	margin: 200px auto 0 auto;
	max-width: 300px;
	text-align: center;
	display: none;
}

.buttonValidateForm{
	visibility: hidden;
	pointer-events: none;
}

.buttonNavThroughTimebricks__container{
	width: 100%;
	max-width: 500px;
	padding-top: 100px;
}

body[data-page="timetableSelection"] .app__page--timetableSelection{
	transform: translateX(0%);
	transition-duration: 2s;
}

body[data-page="timetableSelection"] .app__page--timetableEditor{
	transform: translateX(100%);
	transition-duration: 2s; 
}

body[data-page="timetableEditor"] .app__page--timetableEditor{
	transform: translateX(0%);
	transition-duration: 2s;
}

body[data-page="timetableEditor"] .app__page--timetableSelection{
}

body[data-page="timebrickEditor"] .timebrickEditor{
	transform: translateX(0%);
	transition-duration: 2s;
}

.app__page[data-isempty='yes'] .disclaimer{
	display: block;
}

.app__page[data-isempty='yes'] .buttonNavThroughTimebricks{
	pointer-events: none;
}

.app__page--timetableEditor[data-new="yes"] .buttonNavigation--revealForm{
	opacity: 0;
	pointer-events: none;
}

.app__page--timetableEditor[data-new="yes"] .buttonValidateForm--timetable{
	visibility: visible;
	pointer-events: all;
}

.timebrickEditor[data-new="yes"] .buttonValidateForm{
	visibility: visible;
	pointer-events: all;
}

.timebrickEditor[data-new="yes"] .buttonNavThroughTimebricks{
	pointer-events: none;
}

@media screen and (max-width: 699px){
	.timetable__summary{
		display: none;
	}
}

@media screen and (min-width: 700px){
	.timetable__li{
		/*padding: 30px;*/
	}

	.timetable__el{
		margin: 0 10px 30px 10px;
	}

}

@media screen and (min-width: 740px){

	.timetable__li{
		justify-content: flex-start;
	}
}

@media screen and (min-width: 790px){

	.timetable__li{
		width: 740px;
	}
}

@media screen and (min-width: 1000px){
	body[data-page="timetableEditor"]{
		display: flex;
	}

	body[data-page="timebrickEditor"]{
		display: flex;
	}

	body[data-page="timetableEditor"] .timebrickEditor{
		display: block;
	}

	.timebrickEditor{
		width: 100%;
		overflow: scroll;
	}

	.timetableEditor{
		min-width: 40%;
		overflow: scroll;
	}

	.buttonNavigation--backTo--TimetableEditor{
		visibility: hidden;
	}

	.timebrick__setter{
		min-width: 100%;
	}

}

@media screen and (min-width: 1100px){

	.timetable__li{
		justify-content: flex-start;
		width: 1080px;
	}
}

@media screen and (min-width: 1450px){

	.timetable__li{
		justify-content: flex-start;
		width: 1420px;
	}
}

@media screen and (min-width: 1800px){

	.timetable__li{
		justify-content: flex-start;
		width: 1760px;
	}
}

@media screen and (min-width: 2150px){

	.timetable__li{
		justify-content: flex-start;
		width: 2100px;
	}
}
